.App {
  text-align: center;
  color: #cc652a;
  cursor: auto;
  width: 100vw;
  height: 100vh;
}
.ButtonBar {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.Toolbar {
  padding-left: 60px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #464646;
}
.Toolbar-section {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}

.Gate {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}

.Gate-grabbed {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: azure;
  pointer-events: none;
  z-index: 1;
}

.GateSpacer {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.Circuit {
  margin-left: 20px;
  margin-right: 20px;
}
.Wire-container {
  position: relative;
  height: 50px;
  margin-bottom: 5px;
}
.Wire {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 60px;
  height: 100%;
  margin-bottom: 5px;
}
.Line-container {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0%;
  position: absolute;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}
.Line {
  width: 100%;
  align-self: center;
  color: black;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}
.Qubit-initial {
  width: 40px;
  margin-top: 13px;
  height: 1px;
  color: black;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}
